* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
	font-weight: 100;
	font-size: 1.01em;
}

body{
	background-image: url(../img/fondo4prueba.jpg);
	background-repeat: no-repeat;
	background-size: cover; 
}
header{
	border-bottom: solid gray 0.1em;
	height: 40em;
	
	margin-bottom: 1em;
}
@media screen and (max-width: 1024px){
	header{
		margin-right: 0;
		width: 100%;
	}
}
h1{
	margin: 0;
	padding-bottom: .2em;
	font-family: 'Luckiest Guy', cursive;
	position: relative;
	top: 3em;
	text-align: center;
	font-size: 37px;
	background-color: rgb(34, 180, 54, .5);
	text-shadow: .1em .1em rgba(0, 0, 0, .5);
	color: crimson;
	transition: 0.5s;
	cursor: context-menu;
}
h1:hover{
	background-color: rgb(34, 180, 54, 1);
	text-shadow: .010em .010em rgba(0, 0, 0, .5);
	color: red;
}
@media screen and (max-width: 1061px){
	h1{
		top: 6em;
	}
}
#advertencia h2{
	position: fixed;
	right: 0;
	left: 0;
	background-color: black;
	color: white;
	text-align: center;
	padding: 0.5em 0.5em;
	z-index: 1000;
}
#boton{
	position: relative;
	top: 50%;
	left: 45%;
	float: left;

}
@media screen and (max-width: 1280px){
	#boton{
		left: 38%;
	}
}
@media screen and (max-width: 1061px){
	#boton{
		top: 60%;
	}
}

@media screen and (max-width: 800px){
	#boton{
		display: block;
		top: 60%;
		left: 5%;
	}
}
.logo{
	position: relative;
	bottom: 3em;
	float: right;
	margin-right: 1em;
}
.aside{
	display: none;
	position: relative;
	bottom: 3em;
	right: 15em;
	float: left;
	border: solid black 0.1em;
	z-index: 1000;
	
}
@media screen and (max-width: 1154px){
	.aside{
		display: block;
	}
}
#sidebar{
	display:;
	position: fixed;
	top: 0;
	left: -20em;
	width: 15em;
	height: 100%;
	background: #8dd599;
	transition: all 0.5s;
	
}

#sidebar.active{
	left: 0;
}

.navegacion {
	list-style: circle;
	margin-left: 1.5em;
	margin-top: 4.5em;

}
.navegacion > a{
	font-family: 'Luckiest Guy', cursive;
	font-weight: bold;
	text-decoration: none;
	color: black;
	text-decoration: underline gray 0.2em;
	transition: all 0.5s;

}
.subnavegacion{
	display: block;
	margin-top: 0;
	margin-left: 1em;

}
.subnavegacion > a{
	font-family: 'Luckiest Guy', cursive;
	text-decoration: none;
	color: black;
	transition: all 0.5s;
	
}
.lista1 li a{
	transition: all 0.5s;

}

.lista2 li a:hover{
	text-align: left;
	background-color: #419f00;

}




header button{
	position: relative;
	top: 10em;
	right: 1em;
	width: 8em;
	height: 2em;
	background-color: black;
	border-radius: 10.938em;
	color: white;
	font-size: 1.875em;
}
button:hover{
	background-color: lightgreen;
	color: black;
}


#logo{
	background-color: ;
	position: relative;
	top: 17em;
	left: 4em;
	float: right;
	width: 22em;
}
@media screen and (max-width: 1061px){
	#logo{
		left: 8em;
		top: 20em;
		width: 20em;
	}
}
@media screen and (max-width: 1024px){
	#logo{
		top: 20em;
		width: 15em;
	}
}
@media screen and (max-width: 900px){
	#logo{
		top: 20em;
		width: 15em;
	}
}
@media screen and (max-width: 600px){
	#logo{
		top: 23em;
		width: 15em;
		left: 4em;
	}
}
.cabecera{
	
	position: absolute;
	top: 2em;
	display: block;
	
}
	
}
ul{
	
	list-style: none;
}


li ul{
	list-style: none;
}

.lista1 > li > a{
	font-family: 'Luckiest Guy', cursive;
	text-align: left;
	font-size: 1em;
	background-color: rgba(249, 249, 249, 0.5);
	color: black;
	text-decoration: none;
	padding: 0.625em 4em;
	margin-left: 1em;
	display: block;
	font-weight: bold;
	border-bottom: 0.1em solid black;
	text-shadow: .1em .1em rgba(0, 0, 0, .5);
}

.lista1 li > a:hover{
	text-align: left;
	background-color: #419f00;
	text-shadow: none.2;

}

.lista1 > li{
	display: inline-block;
	cursor: pointer;

}

@media screen and (max-width: 1154px){
	.lista1 > li{
		display: none;
	}
}
@media screen and (max-width: 1154px){
	.lista1 > li ul li{
		display: none;
		
	}
}

.lista1 li ul{
	display: none;
	text-align: left;
	position: absolute;
}

.lista1 li:hover > ul{
	text-align: left;
	padding: 0;
	display: inline-block;
}

.lista1 li ul li{
	position: relative;
}

.navegacion_oculta1 a{
	font-family: 'Luckiest Guy', cursive;
	text-align: left;
	font-size: 1em;
	background-color: rgba(249, 249, 249, 0.5);
	color: black;
	text-decoration: none;
	padding: 0.625em 1.45em;
	margin-left: 1em;
	display: block;
	font-weight: bold;
	border-bottom: 0.1em solid black;
}
.navegacion_oculta2 a{
	font-family: 'Luckiest Guy', cursive;
	text-align: left;
	font-size: 1em;
	background-color: rgba(249, 249, 249, 0.5);
	color: black;
	text-decoration: none;
	padding: 0.625em 4.38em;
	margin-left: 1em;
	display: block;
	font-weight: bold;
	border-bottom: 0.1em solid black;
}
.navegacion_oculta3 a{
	font-family: 'Luckiest Guy', cursive;
	text-align: left;
	font-size: 1em;
	background-color: rgba(249, 249, 249, 0.5);
	color: black;
	text-decoration: none;
	padding: 0.625em 3.95em;
	margin-left: 1em;
	display: block;
	font-weight: bold;
	border-bottom: 0.1em solid black;
}
.navegacion_oculta4 a{
	font-family: 'Luckiest Guy', cursive;
	text-align: left;
	font-size: 1em;
	background-color: rgba(249, 249, 249, 0.5);
	color: black;
	text-decoration: none;
	padding: 0.625em 0.69em;
	margin-left: 1em;
	display: block;
	font-weight: bold;
	border-bottom: 0.1em solid black;
}
.navegacion_oculta5 a{
	font-family: 'Luckiest Guy', cursive;
	text-align: left;
	font-size: 1em;
	background-color: rgba(249, 249, 249, 0.5);
	color: black;
	text-decoration: none;
	padding: 0.625em 3.62em;
	margin-left: 1em;
	display: block;
	font-weight: bold;
	border-bottom: 0.1em solid black;
}




article{
	margin-top: 1em;
	font-family: 'Ceviche One', cursive;
	border: solid gray .1em;
	width: 50%;
	margin-left: 25%;
	display: block;
	font-size: 2em;
	text-align: center;

}



article h2{
	font-size: 2.1em;
	
}
#meexplico{
	text-transform: uppercase;
}

main {
	margin-top: 1em;
	display: inline-block;
	margin-left: 6.5em;
}

@media screen and (max-width: 2560px){
	main{
		margin-left: 13em;
	}
}
@media screen and (max-width: 2386px){
	main{
		
		margin-left: 11em;
	}
}
@media screen and (max-width: 2215px){
	main{
		
		margin-left: 9.5em;
	}
}
@media screen and (max-width: 2081px){
	main{
		
		margin-left: 8em;
	}
}
@media screen and (max-width: 1961px){
	main{
		
		margin-left: 7em;
	}
}
@media screen and (max-width: 1920px){
	main{
		margin-left: 6em;
	}
}
@media screen and (max-width: 1884px){
	main{
		
		margin-left: 6em;
	}
}
@media screen and (max-width: 1801px){
	main{
		
		margin-left: 5em;
	}
}
@media screen and (max-width: 1719px){
	main{
		
		margin-left: 4em;
	}
}
@media screen and (max-width: 1628px){
	main{
		
		margin-left: 3.5em;
	}
}
@media screen and (max-width: 1594px){
	main{
		
		margin-left: 3em;
	}
}
@media screen and (max-width: 1540px){
	main{
		
		margin-left: 2.5em;
	}
}
@media screen and (max-width: 1497px){
	main{
		
		margin-left: 2em;
	}
}
@media screen and (max-width: 1454px){
	main{
		
		margin-left: 1.7em;
	}
}
@media screen and (max-width: 1437px){
	main{
		
		margin-left: 1.5em;
	}
}
@media screen and (max-width: 1414px){
	main{
		
		margin-left: 1.4em;
	}
}
@media screen and (max-width: 1405px){
	main{
		
		margin-left: 18em;
	}
}
@media screen and (max-width: 1280px){
	main{
		margin-left: 15em;
	}
}
@media screen and (max-width: 1131px){
	main{
		
		margin-left: 12em;
	}
}
@media screen and (max-width: 1024px){
	main{
		margin-left: 10em;
	}
}

@media screen and (max-width: 1000px){
	main{
		
		margin-left: 9em;
	}
}
@media screen and (max-width: 900px){
	main{
		margin-left: 7.5em;
	}
}
@media screen and (max-width: 880px){
	main{
		margin-left: 7.5em;
	}
}
@media screen and (max-width: 800px){
	main{
		margin-left: 6em;
	}
}
@media screen and (max-width: 790px){
	main{
		margin-left: 4em;
	}
}
@media screen and (max-width: 700px){
	main{
		margin-left: 4em;
	}
}
@media screen and (max-width: 665px){
	main{
		margin-left: 3em;
	}
}
@media screen and (max-width: 633px){
	main{
		margin-left: 2.5em;
	}
}
@media screen and (max-width: 613px){
	main{
		margin-left: 2em;
	}
}
@media screen and (max-width: 600px){
	main{
		margin-left: 30%;
	}
}

main h2{
	position: relative;
	text-align: center;
	font-family: 'Luckiest Guy', cursive;
	font-weight: bold;
	font-size: 1em;
}
main div img{
	margin-top: 1em;
	margin-bottom: 1em;
	width: 15em;
	height: 10em;
}
